<h1><%= @kickboxer.name %></h1>
<p><strong>Speed: </strong><%= @kickboxer.speed %></p>
<p><strong>Fist Size: </strong><%= @kickboxer.fist_size %></p>
<p><strong>Missing Teeth: </strong><%= @kickboxer.missing_teeth %></p>
<p><strong>Status: </strong><%= @kickboxer.villain ? "Heel" : "Face" %></p>

<%= link_to "See All Kickboxers", kickboxers_path %>
